{% extends "base_temp.html" %}
{% block content %}
<h2><p class="text-center">Оформление каюты</p></h2>
<table class="table">
  <thead>
  <tr>
    <th scope="col"></th>
    <th scope="col">Цвет стены</th>
    <th scope="col">Отражение в зеркале</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row"></th>
    <th scope="col"><img width="600" height="600" src="{{ img_w }}" class="img-thumbnail"></th>
    <th scope="col"><img width="600" height="600" src="{{ img_p }}" class="img-thumbnail"></th>
    <td></td>
  </tr>
  </tbody>
</table>
{% endblock %}